# Análisis de calidad del aire
1. Carga los datos demográficos en una tabla utilizando pandas, utilizando el mismo CSV de demografía del ejemplo estudiado en clases.

Importa directamente usando esta url con el siguiente código:

url = "https://public.opendatasoft.com/explore/dataset/us-cities-demographics/download/?format=csv&timezone=Europe/Berlin&lang=en&use_labels_for_header=true&csv_separator=%3B"
data = pd.read_csv(url, sep=';')

2. Parsea los datos de calidad del aire para cada ciudad en la tabla demográfica obteniendo la información con la API https://api-ninjas.com/api/airquality. Crea una tabla de dimensiones utilizando pandas para almacenar estos datos.

Toma el elemento concentration de cada entrada por fila.

3. Limpia los datos demográficos realizando las siguientes acciones:

Elimina las columnas: Race, Count y Number of Veterans.
Elimina las filas duplicadas.

4. Crea una base de datos en SQLite, carga las dos tablas procesadas ahí

5. Aplica joins, y agregaciones para verificar si las ciudades más pobladas tienen la peor calidad del aire. (muestra las primeras 10 colúmnas y con eso responde la pregunta)

Crea un script para el ejercicio 3, luego en un archivo markdown escribe la query SQL que utilizaste para responder la pregunta y escribe una explicación detallada de tu interpretación de los resultados, este dos archivo súbelo aquí. (Adjunta también la base de datos sqlite).

Para los ejercicios 1 y 2 usa la siguiente plantilla:

import pandas as pd
from typing import Set


def ej_1_cargar_datos_demograficos() -> pd.DataFrame:
    pass

def ej_2_cargar_calidad_aire(ciudades: Set[str]) -> None:
    pass
Y usa los siguientes tests:

### Estos tests pueden fallar, sólo están aquí como referencia ya que debido a la actualización de valores por parte de la api, no se pueden mantener fijos para evaluar en todo momento al mismo valor.
from hashlib import sha256
from soluciones import (
    ej_1_cargar_datos_demograficos,
    ej_2_cargar_calidad_aire,
)
import pandas as pd


def _hash(data):
    return sha256(str(data).encode("utf-8")).hexdigest()


def test_sol_1():
    df = ej_1_cargar_datos_demograficos()
    idxs = [1995, 1360, 982, 2264, 2096, 1733, 1804, 2025, 2070, 507]
    
    selected_rows = df.loc[idxs].values
    assert _hash(selected_rows) == "567b67390efd8da8091f6f86da9f5e76b30d1b7dcb25bd7d9b87bcb757b2c571"
    
    
def test_sol_2():
    df = ej_1_cargar_datos_demograficos()
    ej_2_cargar_calidad_aire(set(df["City"].tolist()))
    
    ciudades_df = pd.read_csv("ciudades.csv")
    
    actual = ciudades_df.loc[:9].to_dict()
    
    expected = {
        'CO': {0: 250.34, 1: 287.06, 2: 247.0, 3: 280.38, 4: 323.77, 5: 243.66, 6: 173.57, 7: 211.95, 8: 263.69, 9: 260.35},
        'NO2': {0: 3.43, 1: 0.76, 2: 0.56, 3: 1.06, 4: 1.67, 5: 0.91, 6: 0.23, 7: 0.84, 8: 0.8, 9: 1.71},
        'O3': {0: 167.37, 1: 103.0, 2: 41.13, 3: 98.71, 4: 86.55, 5: 100.14, 6: 94.41, 7: 105.86, 8: 100.14, 9: 130.18},
        'SO2': {0: 2.92, 1: 2.3, 2: 0.19, 3: 1.1, 4: 6.32, 5: 1.27, 6: 0.38, 7: 0.24, 8: 0.4, 9: 5.36},
        'PM2.5': {0: 17.78, 1: 6.06, 2: 1.79, 3: 4.08, 4: 2.64, 5: 5.43, 6: 12.62, 7: 1.67, 8: 4.49, 9: 6.21},
        'PM10': {0: 26.26, 1: 6.37, 2: 1.85, 3: 4.47, 4: 2.95, 5: 5.68, 6: 48.06, 7: 1.79, 8: 4.66, 9: 6.76},
        'overall_aqi': {0: 220, 1: 170, 2: 34, 3: 159, 4: 128, 5: 162, 6: 148, 7: 177, 8: 162, 9: 205},
        'city': {0: 'Perris', 1: 'Mount Vernon', 2: 'Mobile', 3: 'Dale City', 4: 'Maple Grove', 5: 'Muncie', 6: 'San Clemente', 7: 'Providence', 8: 'Norman', 9: 'Hoover'}
    }
    
    assert expected == actual
Debido a que este laboratorio tiene una solución más abierta que los demás, no existen tests para todos los pasos, es por eso que debes detallar tu solución en el markdown para faciliar la revisión a mano.

In [63]:
import pandas as pd
import requests
import sqlite3

In [64]:
# Carga de datos 
url = "https://public.opendatasoft.com/explore/dataset/us-cities-demographics/download/?format=csv&timezone=Europe/Berlin&lang=en&use_labels_for_header=true&csv_separator=%3B"
data_demo = pd.read_csv(url, sep=';')

In [65]:
data_demo

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Denver,Colorado,34.1,341137.0,341408.0,682545,29363.0,113222.0,2.33,CO,Black or African-American,72288
1,Provo,Utah,23.6,56231.0,59027.0,115258,2177.0,10925.0,3.28,UT,American Indian and Alaska Native,1916
2,Hampton,Virginia,35.5,66214.0,70240.0,136454,19638.0,6204.0,2.48,VA,Hispanic or Latino,7513
3,Birmingham,Alabama,35.6,102122.0,112789.0,214911,13212.0,8258.0,2.21,AL,Asian,1500
4,Greeley,Colorado,31.0,50792.0,50091.0,100883,4294.0,11480.0,2.75,CO,White,92874
...,...,...,...,...,...,...,...,...,...,...,...,...
2886,Mesa,Arizona,36.9,234998.0,236835.0,471833,31808.0,57492.0,2.68,AZ,White,413010
2887,Corpus Christi,Texas,35.0,160488.0,163594.0,324082,25078.0,30834.0,2.69,TX,Hispanic or Latino,200737
2888,Bismarck,North Dakota,38.0,34675.0,35565.0,70240,4145.0,2064.0,2.11,ND,Hispanic or Latino,1667
2889,Orem,Utah,26.1,48695.0,45762.0,94457,2828.0,12808.0,3.26,UT,American Indian and Alaska Native,976
2890,Lowell,Massachusetts,33.4,54422.0,56298.0,110720,3764.0,33414.0,2.80,MA,White,68838

In [68]:
data_demo['City'].head(100)

0          Denver
1           Provo
2         Hampton
3      Birmingham
4         Greeley
         ...
95     Huntsville
96        Turlock
97    Gainesville
98      Champaign
99      Inglewood
Name: City, Length: 100, dtype: object

In [69]:
# Parsear datos de calidad del aire
air_quality_data = []

for city in data_demo['City'].head(100):
    api_url = f"https://api.api-ninjas.com/v1/airquality?city={city}"
    response = requests.get(api_url, headers={'X-Api-Key': 'UQzvNTUxwc8yrG0321yCMw==BiVhGOKxnwS1tk18'})
    
    if response.status_code == 200:
        air_quality_data.append(response.json())
    else:
        air_quality_data.append({'city': city, 'concentration': None})

In [70]:
## Tome 100 datos solamente, porque los datos de cada ciudad son demasiado, por lo que se demora mucho en obtenerlos
# Y tambien cuestan mucho consumo de api x ciudad. Por lo que solo se toman los siguientes datos = 
air_quality_data

[{'CO': {'concentration': 293.73, 'aqi': 3},
  'NO2': {'concentration': 16.79, 'aqi': 20},
  'O3': {'concentration': 67.95, 'aqi': 77},
  'SO2': {'concentration': 5.07, 'aqi': 7},
  'PM2.5': {'concentration': 4.29, 'aqi': 13},
  'PM10': {'concentration': 6.14, 'aqi': 5},
  'overall_aqi': 77},
 {'CO': {'concentration': 263.69, 'aqi': 2},
  'NO2': {'concentration': 8.23, 'aqi': 10},
  'O3': {'concentration': 64.37, 'aqi': 66},
  'SO2': {'concentration': 1.94, 'aqi': 2},
  'PM2.5': {'concentration': 5.88, 'aqi': 19},
  'PM10': {'concentration': 8.52, 'aqi': 7},
  'overall_aqi': 66},
 {'CO': {'concentration': 290.39, 'aqi': 3},
  'NO2': {'concentration': 13.2, 'aqi': 16},
  'O3': {'concentration': 67.23, 'aqi': 75},
  'SO2': {'concentration': 1.27, 'aqi': 1},
  'PM2.5': {'concentration': 4.05, 'aqi': 13},
  'PM10': {'concentration': 10.32, 'aqi': 9},
  'overall_aqi': 75},
 {'CO': {'concentration': 270.37, 'aqi': 3},
  'NO2': {'concentration': 43.53, 'aqi': 54},
  'O3': {'concentration': 16.27, 'aqi': 13},
  'SO2': {'concentration': 6.91, 'aqi': 10},
  'PM2.5': {'concentration': 3.11, 'aqi': 10},
  'PM10': {'concentration': 3.81, 'aqi': 3},
  'overall_aqi': 54},
 {'CO': {'concentration': 317.1, 'aqi': 3},
  'NO2': {'concentration': 11.65, 'aqi': 14},
  'O3': {'concentration': 45.42, 'aqi': 38},
  'SO2': {'concentration': 1.09, 'aqi': 1},
  'PM2.5': {'concentration': 10.07, 'aqi': 32},
  'PM10': {'concentration': 10.96, 'aqi': 10},
  'overall_aqi': 38},
 {'CO': {'concentration': 280.38, 'aqi': 3},
  'NO2': {'concentration': 5.83, 'aqi': 7},
  'O3': {'concentration': 92.98, 'aqi': 144},
  'SO2': {'concentration': 1.68, 'aqi': 2},
  'PM2.5': {'concentration': 9.74, 'aqi': 31},
  'PM10': {'concentration': 11.24, 'aqi': 10},
  'overall_aqi': 144},
 {'CO': {'concentration': 627.52, 'aqi': 7},
  'NO2': {'concentration': 51.41, 'aqi': 64},
  'O3': {'concentration': 52.21, 'aqi': 44},
  'SO2': {'concentration': 10.85, 'aqi': 15},
  'PM2.5': {'concentration': 26.17, 'aqi': 71},
  'PM10': {'concentration': 32.88, 'aqi': 30},
  'overall_aqi': 71},
 {'CO': {'concentration': 236.99, 'aqi': 2},
  'NO2': {'concentration': 2.01, 'aqi': 2},
  'O3': {'concentration': 69.38, 'aqi': 82},
  'SO2': {'concentration': 4.89, 'aqi': 7},
  'PM2.5': {'concentration': 1.58, 'aqi': 5},
  'PM10': {'concentration': 2.09, 'aqi': 1},
  'overall_aqi': 82},
 {'CO': {'concentration': 267.03, 'aqi': 3},
  'NO2': {'concentration': 4.71, 'aqi': 5},
  'O3': {'concentration': 54.36, 'aqi': 46},
  'SO2': {'concentration': 0.41, 'aqi': 0},
  'PM2.5': {'concentration': 5.73, 'aqi': 18},
  'PM10': {'concentration': 5.96, 'aqi': 5},
  'overall_aqi': 46},
 {'CO': {'concentration': 627.52, 'aqi': 7},
  'NO2': {'concentration': 51.41, 'aqi': 64},
  'O3': {'concentration': 52.21, 'aqi': 44},
  'SO2': {'concentration': 10.85, 'aqi': 15},
  'PM2.5': {'concentration': 26.17, 'aqi': 71},
  'PM10': {'concentration': 32.88, 'aqi': 30},
  'overall_aqi': 71},
 {'CO': {'concentration': 260.35, 'aqi': 2},
  'NO2': {'concentration': 6.17, 'aqi': 7},
  'O3': {'concentration': 55.08, 'aqi': 46},
  'SO2': {'concentration': 0.83, 'aqi': 1},
  'PM2.5': {'concentration': 5.83, 'aqi': 18},
  'PM10': {'concentration': 6.12, 'aqi': 5},
  'overall_aqi': 46},
 {'CO': {'concentration': 754.36, 'aqi': 8},
  'NO2': {'concentration': 79.51, 'aqi': 99},
  'O3': {'concentration': 38.98, 'aqi': 33},
  'SO2': {'concentration': 21.22, 'aqi': 31},
  'PM2.5': {'concentration': 28.49, 'aqi': 76},
  'PM10': {'concentration': 36.95, 'aqi': 34},
  'overall_aqi': 99},
 {'CO': {'concentration': 240.33, 'aqi': 2},
  'NO2': {'concentration': 2.44, 'aqi': 3},
  'O3': {'concentration': 70.1, 'aqi': 84},
  'SO2': {'concentration': 0.39, 'aqi': 0},
  'PM2.5': {'concentration': 0.82, 'aqi': 2},
  'PM10': {'concentration': 1.23, 'aqi': 1},
  'overall_aqi': 84},
 {'CO': {'concentration': 333.79, 'aqi': 3},
  'NO2': {'concentration': 72.66, 'aqi': 90},
  'O3': {'concentration': 1.06, 'aqi': 0},
  'SO2': {'concentration': 9.3, 'aqi': 13},
  'PM2.5': {'concentration': 19.88, 'aqi': 58},
  'PM10': {'concentration': 32.48, 'aqi': 30},
  'overall_aqi': 90},
 {'CO': {'concentration': 250.34, 'aqi': 2},
  'NO2': {'concentration': 10.88, 'aqi': 13},
  'O3': {'concentration': 81.54, 'aqi': 116},
  'SO2': {'concentration': 2.3, 'aqi': 3},
  'PM2.5': {'concentration': 1.6, 'aqi': 5},
  'PM10': {'concentration': 3.49, 'aqi': 3},
  'overall_aqi': 116},
 {'CO': {'concentration': 273.71, 'aqi': 3},
  'NO2': {'concentration': 8.65, 'aqi': 10},
  'O3': {'concentration': 86.55, 'aqi': 128},
  'SO2': {'concentration': 2.12, 'aqi': 3},
  'PM2.5': {'concentration': 8.4, 'aqi': 27},
  'PM10': {'concentration': 12.5, 'aqi': 11},
  'overall_aqi': 128},
 {'CO': {'concentration': 270.37, 'aqi': 3},
  'NO2': {'concentration': 6.17, 'aqi': 7},
  'O3': {'concentration': 52.93, 'aqi': 44},
  'SO2': {'concentration': 0.72, 'aqi': 1},
  'PM2.5': {'concentration': 6.84, 'aqi': 22},
  'PM10': {'concentration': 7.01, 'aqi': 6},
  'overall_aqi': 44},
 {'CO': {'concentration': 350.48, 'aqi': 3},
  'NO2': {'concentration': 17.65, 'aqi': 22},
  'O3': {'concentration': 57.22, 'aqi': 48},
  'SO2': {'concentration': 2.3, 'aqi': 3},
  'PM2.5': {'concentration': 12.37, 'aqi': 40},
  'PM10': {'concentration': 32.72, 'aqi': 30},
  'overall_aqi': 48},
 {'CO': {'concentration': 754.36, 'aqi': 8},
  'NO2': {'concentration': 79.51, 'aqi': 99},
  'O3': {'concentration': 38.98, 'aqi': 33},
  'SO2': {'concentration': 21.22, 'aqi': 31},
  'PM2.5': {'concentration': 28.49, 'aqi': 76},
  'PM10': {'concentration': 36.95, 'aqi': 34},
  'overall_aqi': 99},
 {'CO': {'concentration': 263.69, 'aqi': 2},
  'NO2': {'concentration': 9.51, 'aqi': 11},
  'O3': {'concentration': 87.26, 'aqi': 130},
  'SO2': {'concentration': 2.12, 'aqi': 3},
  'PM2.5': {'concentration': 2.98, 'aqi': 9},
  'PM10': {'concentration': 4.24, 'aqi': 3},
  'overall_aqi': 130},
 {'CO': {'concentration': 413.9, 'aqi': 4},
  'NO2': {'concentration': 33.93, 'aqi': 42},
  'O3': {'concentration': 64.37, 'aqi': 66},
  'SO2': {'concentration': 8.35, 'aqi': 12},
  'PM2.5': {'concentration': 9.76, 'aqi': 31},
  'PM10': {'concentration': 13.33, 'aqi': 12},
  'overall_aqi': 66},
 {'CO': {'concentration': 226.97, 'aqi': 2},
  'NO2': {'concentration': 2.42, 'aqi': 3},
  'O3': {'concentration': 95.84, 'aqi': 152},
  'SO2': {'concentration': 1.46, 'aqi': 2},
  'PM2.5': {'concentration': 4.67, 'aqi': 15},
  'PM10': {'concentration': 7.06, 'aqi': 6},
  'overall_aqi': 152},
 {'CO': {'concentration': 226.97, 'aqi': 2},
  'NO2': {'concentration': 1.26, 'aqi': 1},
  'O3': {'concentration': 68.67, 'aqi': 80},
  'SO2': {'concentration': 0.6, 'aqi': 0},
  'PM2.5': {'concentration': 5.7, 'aqi': 18},
  'PM10': {'concentration': 14.34, 'aqi': 13},
  'overall_aqi': 80},
 {'CO': {'concentration': 247, 'aqi': 2},
  'NO2': {'concentration': 10.03, 'aqi': 12},
  'O3': {'concentration': 87.26, 'aqi': 130},
  'SO2': {'concentration': 2.24, 'aqi': 3},
  'PM2.5': {'concentration': 1.8, 'aqi': 5},
  'PM10': {'concentration': 2.56, 'aqi': 2},
  'overall_aqi': 130},
 {'CO': {'concentration': 220.3, 'aqi': 2},
  'NO2': {'concentration': 3.77, 'aqi': 4},
  'O3': {'concentration': 92.98, 'aqi': 144},
  'SO2': {'concentration': 0.94, 'aqi': 1},
  'PM2.5': {'concentration': 1.07, 'aqi': 3},
  'PM10': {'concentration': 1.7, 'aqi': 1},
  'overall_aqi': 144},
 {'CO': {'concentration': 330.45, 'aqi': 3},
  'NO2': {'concentration': 14.57, 'aqi': 18},
  'O3': {'concentration': 58.65, 'aqi': 49},
  'SO2': {'concentration': 3.58, 'aqi': 5},
  'PM2.5': {'concentration': 19.55, 'aqi': 58},
  'PM10': {'concentration': 22.59, 'aqi': 20},
  'overall_aqi': 58},
 {'CO': {'concentration': 410.56, 'aqi': 4},
  'NO2': {'concentration': 17.48, 'aqi': 21},
  'O3': {'concentration': 18.06, 'aqi': 15},
  'SO2': {'concentration': 2.95, 'aqi': 4},
  'PM2.5': {'concentration': 7.59, 'aqi': 24},
  'PM10': {'concentration': 11.17, 'aqi': 10},
  'overall_aqi': 24},
 {'CO': {'concentration': 240.33, 'aqi': 2},
  'NO2': {'concentration': 2.4, 'aqi': 3},
  'O3': {'concentration': 69.38, 'aqi': 82},
  'SO2': {'concentration': 0.47, 'aqi': 0},
  'PM2.5': {'concentration': 0.5, 'aqi': 1},
  'PM10': {'concentration': 0.93, 'aqi': 0},
  'overall_aqi': 82},
 {'CO': {'concentration': 263.69, 'aqi': 2},
  'NO2': {'concentration': 7.2, 'aqi': 9},
  'O3': {'concentration': 65.8, 'aqi': 71},
  'SO2': {'concentration': 3.52, 'aqi': 5},
  'PM2.5': {'concentration': 1.09, 'aqi': 3},
  'PM10': {'concentration': 1.93, 'aqi': 1},
  'overall_aqi': 71},
 {'CO': {'concentration': 317.1, 'aqi': 3},
  'NO2': {'concentration': 11.65, 'aqi': 14},
  'O3': {'concentration': 45.42, 'aqi': 38},
  'SO2': {'concentration': 1.09, 'aqi': 1},
  'PM2.5': {'concentration': 10.07, 'aqi': 32},
  'PM10': {'concentration': 10.96, 'aqi': 10},
  'overall_aqi': 38},
 {'CO': {'concentration': 627.52, 'aqi': 7},
  'NO2': {'concentration': 51.41, 'aqi': 64},
  'O3': {'concentration': 52.21, 'aqi': 44},
  'SO2': {'concentration': 10.85, 'aqi': 15},
  'PM2.5': {'concentration': 26.17, 'aqi': 71},
  'PM10': {'concentration': 32.88, 'aqi': 30},
  'overall_aqi': 71},
 {'CO': {'concentration': 233.65, 'aqi': 2},
  'NO2': {'concentration': 1.5, 'aqi': 1},
  'O3': {'concentration': 67.95, 'aqi': 77},
  'SO2': {'concentration': 0.48, 'aqi': 0},
  'PM2.5': {'concentration': 5.28, 'aqi': 17},
  'PM10': {'concentration': 5.84, 'aqi': 5},
  'overall_aqi': 77},
 {'CO': {'concentration': 350.48, 'aqi': 3},
  'NO2': {'concentration': 17.65, 'aqi': 22},
  'O3': {'concentration': 57.22, 'aqi': 48},
  'SO2': {'concentration': 2.3, 'aqi': 3},
  'PM2.5': {'concentration': 12.37, 'aqi': 40},
  'PM10': {'concentration': 32.72, 'aqi': 30},
  'overall_aqi': 48},
 {'CO': {'concentration': 313.76, 'aqi': 3},
  'NO2': {'concentration': 14.74, 'aqi': 18},
  'O3': {'concentration': 46.49, 'aqi': 39},
  'SO2': {'concentration': 1.94, 'aqi': 2},
  'PM2.5': {'concentration': 5.98, 'aqi': 19},
  'PM10': {'concentration': 6.75, 'aqi': 6},
  'overall_aqi': 39},
 {'CO': {'concentration': 243.66, 'aqi': 2},
  'NO2': {'concentration': 1.15, 'aqi': 1},
  'O3': {'concentration': 77.96, 'aqi': 107},
  'SO2': {'concentration': 0.38, 'aqi': 0},
  'PM2.5': {'concentration': 17.43, 'aqi': 54},
  'PM10': {'concentration': 18.83, 'aqi': 17},
  'overall_aqi': 107},
 {'CO': {'concentration': 307.08, 'aqi': 3},
  'NO2': {'concentration': 19.71, 'aqi': 24},
  'O3': {'concentration': 48.64, 'aqi': 41},
  'SO2': {'concentration': 1.51, 'aqi': 2},
  'PM2.5': {'concentration': 3, 'aqi': 9},
  'PM10': {'concentration': 3.83, 'aqi': 3},
  'overall_aqi': 41},
 {'CO': {'concentration': 263.69, 'aqi': 2},
  'NO2': {'concentration': 4.37, 'aqi': 5},
  'O3': {'concentration': 62.23, 'aqi': 60},
  'SO2': {'concentration': 3.43, 'aqi': 5},
  'PM2.5': {'concentration': 2.72, 'aqi': 8},
  'PM10': {'concentration': 3.45, 'aqi': 3},
  'overall_aqi': 60},
 {'CO': {'concentration': 240.33, 'aqi': 2},
  'NO2': {'concentration': 2.4, 'aqi': 3},
  'O3': {'concentration': 69.38, 'aqi': 82},
  'SO2': {'concentration': 0.47, 'aqi': 0},
  'PM2.5': {'concentration': 0.5, 'aqi': 1},
  'PM10': {'concentration': 0.93, 'aqi': 0},
  'overall_aqi': 82},
 {'CO': {'concentration': 230.31, 'aqi': 2},
  'NO2': {'concentration': 1.82, 'aqi': 2},
  'O3': {'concentration': 75.1, 'aqi': 100},
  'SO2': {'concentration': 0.25, 'aqi': 0},
  'PM2.5': {'concentration': 2.42, 'aqi': 7},
  'PM10': {'concentration': 6.24, 'aqi': 5},
  'overall_aqi': 100},
 {'CO': {'concentration': 253.68, 'aqi': 2},
  'NO2': {'concentration': 6.6, 'aqi': 8},
  'O3': {'concentration': 70.81, 'aqi': 86},
  'SO2': {'concentration': 1.76, 'aqi': 2},
  'PM2.5': {'concentration': 2.98, 'aqi': 9},
  'PM10': {'concentration': 5.41, 'aqi': 5},
  'overall_aqi': 86},
 {'CO': {'concentration': 277.04, 'aqi': 3},
  'NO2': {'concentration': 5.83, 'aqi': 7},
  'O3': {'concentration': 77.96, 'aqi': 107},
  'SO2': {'concentration': 3.19, 'aqi': 4},
  'PM2.5': {'concentration': 7.21, 'aqi': 23},
  'PM10': {'concentration': 10.54, 'aqi': 9},
  'overall_aqi': 107},
 {'CO': {'concentration': 427.25, 'aqi': 4},
  'NO2': {'concentration': 47.3, 'aqi': 59},
  'O3': {'concentration': 28.61, 'aqi': 24},
  'SO2': {'concentration': 3.58, 'aqi': 5},
  'PM2.5': {'concentration': 6.6, 'aqi': 21},
  'PM10': {'concentration': 9.54, 'aqi': 8},
  'overall_aqi': 59},
 {'CO': {'concentration': 160.22, 'aqi': 1},
  'NO2': {'concentration': 0.03, 'aqi': 0},
  'O3': {'concentration': 14.48, 'aqi': 12},
  'SO2': {'concentration': 7.87, 'aqi': 11},
  'PM2.5': {'concentration': 8.57, 'aqi': 27},
  'PM10': {'concentration': 9.53, 'aqi': 8},
  'overall_aqi': 27},
 {'CO': {'concentration': 363.83, 'aqi': 4},
  'NO2': {'concentration': 22.62, 'aqi': 28},
  'O3': {'concentration': 65.09, 'aqi': 69},
  'SO2': {'concentration': 7.39, 'aqi': 10},
  'PM2.5': {'concentration': 4.22, 'aqi': 13},
  'PM10': {'concentration': 6.25, 'aqi': 5},
  'overall_aqi': 69},
 {'CO': {'concentration': 270.37, 'aqi': 3},
  'NO2': {'concentration': 11.65, 'aqi': 14},
  'O3': {'concentration': 65.09, 'aqi': 69},
  'SO2': {'concentration': 6.86, 'aqi': 10},
  'PM2.5': {'concentration': 7.34, 'aqi': 23},
  'PM10': {'concentration': 9.44, 'aqi': 8},
  'overall_aqi': 69},
 {'CO': {'concentration': 317.1, 'aqi': 3},
  'NO2': {'concentration': 16.45, 'aqi': 20},
  'O3': {'concentration': 43.99, 'aqi': 37},
  'SO2': {'concentration': 2.47, 'aqi': 3},
  'PM2.5': {'concentration': 13.8, 'aqi': 44},
  'PM10': {'concentration': 16.42, 'aqi': 15},
  'overall_aqi': 44},
 {'CO': {'concentration': 250.34, 'aqi': 2},
  'NO2': {'concentration': 10.88, 'aqi': 13},
  'O3': {'concentration': 81.54, 'aqi': 116},
  'SO2': {'concentration': 2.3, 'aqi': 3},
  'PM2.5': {'concentration': 1.6, 'aqi': 5},
  'PM10': {'concentration': 3.49, 'aqi': 3},
  'overall_aqi': 116},
 {'CO': {'concentration': 267.03, 'aqi': 3},
  'NO2': {'concentration': 2.83, 'aqi': 3},
  'O3': {'concentration': 59.37, 'aqi': 51},
  'SO2': {'concentration': 1.22, 'aqi': 1},
  'PM2.5': {'concentration': 5.83, 'aqi': 18},
  'PM10': {'concentration': 7.36, 'aqi': 6},
  'overall_aqi': 51},
 {'CO': {'concentration': 377.18, 'aqi': 4},
  'NO2': {'concentration': 19.88, 'aqi': 24},
  'O3': {'concentration': 17.88, 'aqi': 15},
  'SO2': {'concentration': 1.25, 'aqi': 1},
  'PM2.5': {'concentration': 5.78, 'aqi': 18},
  'PM10': {'concentration': 7.79, 'aqi': 7},
  'overall_aqi': 24},
 {'CO': {'concentration': 226.97, 'aqi': 2},
  'NO2': {'concentration': 1.74, 'aqi': 2},
  'O3': {'concentration': 75.1, 'aqi': 100},
  'SO2': {'concentration': 1.54, 'aqi': 2},
  'PM2.5': {'concentration': 3.02, 'aqi': 9},
  'PM10': {'concentration': 3.76, 'aqi': 3},
  'overall_aqi': 100},
 {'CO': {'concentration': 257.02, 'aqi': 2},
  'NO2': {'concentration': 4.97, 'aqi': 6},
  'O3': {'concentration': 82.25, 'aqi': 118},
  'SO2': {'concentration': 1.57, 'aqi': 2},
  'PM2.5': {'concentration': 4.51, 'aqi': 14},
  'PM10': {'concentration': 8.61, 'aqi': 7},
  'overall_aqi': 118},
 {'CO': {'concentration': 233.65, 'aqi': 2},
  'NO2': {'concentration': 1.71, 'aqi': 2},
  'O3': {'concentration': 87.98, 'aqi': 132},
  'SO2': {'concentration': 1.13, 'aqi': 1},
  'PM2.5': {'concentration': 4.44, 'aqi': 14},
  'PM10': {'concentration': 8.92, 'aqi': 8},
  'overall_aqi': 132},
 {'CO': {'concentration': 540.73, 'aqi': 6},
  'NO2': {'concentration': 26.39, 'aqi': 32},
  'O3': {'concentration': 12.34, 'aqi': 10},
  'SO2': {'concentration': 5.42, 'aqi': 7},
  'PM2.5': {'concentration': 14.02, 'aqi': 45},
  'PM10': {'concentration': 19.57, 'aqi': 18},
  'overall_aqi': 45},
 {'CO': {'concentration': 257.02, 'aqi': 2},
  'NO2': {'concentration': 7.88, 'aqi': 9},
  'O3': {'concentration': 75.1, 'aqi': 100},
  'SO2': {'concentration': 1.27, 'aqi': 1},
  'PM2.5': {'concentration': 2.2, 'aqi': 7},
  'PM10': {'concentration': 3.34, 'aqi': 3},
  'overall_aqi': 100},
 {'CO': {'concentration': 226.97, 'aqi': 2},
  'NO2': {'concentration': 8.74, 'aqi': 10},
  'O3': {'concentration': 65.8, 'aqi': 71},
  'SO2': {'concentration': 20.74, 'aqi': 30},
  'PM2.5': {'concentration': 4.49, 'aqi': 14},
  'PM10': {'concentration': 8.58, 'aqi': 7},
  'overall_aqi': 71},
 {'CO': {'concentration': 390.53, 'aqi': 4},
  'NO2': {'concentration': 13.02, 'aqi': 16},
  'O3': {'concentration': 28.61, 'aqi': 24},
  'SO2': {'concentration': 0.28, 'aqi': 0},
  'PM2.5': {'concentration': 15.54, 'aqi': 50},
  'PM10': {'concentration': 17.34, 'aqi': 16},
  'overall_aqi': 50},
 {'CO': {'concentration': 240.33, 'aqi': 2},
  'NO2': {'concentration': 19.36, 'aqi': 24},
  'O3': {'concentration': 35.05, 'aqi': 29},
  'SO2': {'concentration': 2.77, 'aqi': 4},
  'PM2.5': {'concentration': 2.53, 'aqi': 8},
  'PM10': {'concentration': 2.85, 'aqi': 2},
  'overall_aqi': 29},
 {'CO': {'concentration': 277.04, 'aqi': 3},
  'NO2': {'concentration': 7.28, 'aqi': 9},
  'O3': {'concentration': 50.78, 'aqi': 43},
  'SO2': {'concentration': 1.45, 'aqi': 2},
  'PM2.5': {'concentration': 6.63, 'aqi': 21},
  'PM10': {'concentration': 6.85, 'aqi': 6},
  'overall_aqi': 43},
 {'CO': {'concentration': 216.96, 'aqi': 2},
  'NO2': {'concentration': 2.57, 'aqi': 3},
  'O3': {'concentration': 57.94, 'aqi': 49},
  'SO2': {'concentration': 0.15, 'aqi': 0},
  'PM2.5': {'concentration': 0.77, 'aqi': 2},
  'PM10': {'concentration': 1.1, 'aqi': 1},
  'overall_aqi': 49},
 {'CO': {'concentration': 413.9, 'aqi': 4},
  'NO2': {'concentration': 16.62, 'aqi': 20},
  'O3': {'concentration': 23.25, 'aqi': 19},
  'SO2': {'concentration': 0.19, 'aqi': 0},
  'PM2.5': {'concentration': 4.89, 'aqi': 15},
  'PM10': {'concentration': 6.81, 'aqi': 6},
  'overall_aqi': 20},
 {'CO': {'concentration': 310.42, 'aqi': 3},
  'NO2': {'concentration': 10.8, 'aqi': 13},
  'O3': {'concentration': 65.8, 'aqi': 71},
  'SO2': {'concentration': 2.74, 'aqi': 4},
  'PM2.5': {'concentration': 13.23, 'aqi': 42},
  'PM10': {'concentration': 16.7, 'aqi': 15},
  'overall_aqi': 71},
 {'CO': {'concentration': 267.03, 'aqi': 3},
  'NO2': {'concentration': 10.28, 'aqi': 12},
  'O3': {'concentration': 52.21, 'aqi': 44},
  'SO2': {'concentration': 1.7, 'aqi': 2},
  'PM2.5': {'concentration': 2.92, 'aqi': 9},
  'PM10': {'concentration': 3.11, 'aqi': 2},
  'overall_aqi': 44},
 {'CO': {'concentration': 260.35, 'aqi': 2},
  'NO2': {'concentration': 6.6, 'aqi': 8},
  'O3': {'concentration': 63.66, 'aqi': 64},
  'SO2': {'concentration': 0.5, 'aqi': 0},
  'PM2.5': {'concentration': 3.81, 'aqi': 12},
  'PM10': {'concentration': 3.9, 'aqi': 3},
  'overall_aqi': 64},
 {'CO': {'concentration': 211.95, 'aqi': 2},
  'NO2': {'concentration': 2.49, 'aqi': 3},
  'O3': {'concentration': 94.41, 'aqi': 148},
  'SO2': {'concentration': 0.81, 'aqi': 1},
  'PM2.5': {'concentration': 2.96, 'aqi': 9},
  'PM10': {'concentration': 6.24, 'aqi': 5},
  'overall_aqi': 148},
 {'CO': {'concentration': 320.44, 'aqi': 3},
  'NO2': {'concentration': 12.85, 'aqi': 16},
  'O3': {'concentration': 70.81, 'aqi': 86},
  'SO2': {'concentration': 3.49, 'aqi': 5},
  'PM2.5': {'concentration': 12.49, 'aqi': 40},
  'PM10': {'concentration': 16.05, 'aqi': 14},
  'overall_aqi': 86},
 {'CO': {'concentration': 267.03, 'aqi': 3},
  'NO2': {'concentration': 2.49, 'aqi': 3},
  'O3': {'concentration': 60.8, 'aqi': 55},
  'SO2': {'concentration': 1.06, 'aqi': 1},
  'PM2.5': {'concentration': 5.33, 'aqi': 17},
  'PM10': {'concentration': 6.64, 'aqi': 6},
  'overall_aqi': 55},
 {'CO': {'concentration': 367.17, 'aqi': 4},
  'NO2': {'concentration': 32.22, 'aqi': 40},
  'O3': {'concentration': 62.23, 'aqi': 60},
  'SO2': {'concentration': 5.48, 'aqi': 8},
  'PM2.5': {'concentration': 11.5, 'aqi': 37},
  'PM10': {'concentration': 17.46, 'aqi': 16},
  'overall_aqi': 60},
 {'CO': {'concentration': 403.88, 'aqi': 4},
  'NO2': {'concentration': 33.93, 'aqi': 42},
  'O3': {'concentration': 0.03, 'aqi': 0},
  'SO2': {'concentration': 5.84, 'aqi': 8},
  'PM2.5': {'concentration': 6.48, 'aqi': 21},
  'PM10': {'concentration': 9.75, 'aqi': 9},
  'overall_aqi': 42},

In [83]:
# Convertir los datos a un DataFrame
calidad_aire = pd.json_normalize(air_quality_data)
calidad_aire

,overall_aqi,CO.concentration,CO.aqi,NO2.concentration,NO2.aqi,O3.concentration,O3.aqi,SO2.concentration,SO2.aqi,PM2.5.concentration,PM2.5.aqi,PM10.concentration,PM10.aqi
0,77,293.73,3,16.79,20,67.95,77,5.07,7,4.29,13,6.14,5
1,66,263.69,2,8.23,10,64.37,66,1.94,2,5.88,19,8.52,7
2,75,290.39,3,13.20,16,67.23,75,1.27,1,4.05,13,10.32,9
3,54,270.37,3,43.53,54,16.27,13,6.91,10,3.11,10,3.81,3
4,38,317.10,3,11.65,14,45.42,38,1.09,1,10.07,32,10.96,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,84,236.99,2,3.56,4,70.10,84,1.39,2,4.76,15,7.16,6
96,19,307.08,3,11.31,14,22.53,19,0.92,1,4.58,14,5.94,5
97,107,223.64,2,1.25,1,77.96,107,0.15,0,0.99,3,1.61,1
98,57,257.02,2,2.31,2,61.51,57,0.55,0,2.99,9,3.62,3
99,99,754.36,8,79.51,99,38.98,33,21.22,31,28.49,76,36.95,34

In [85]:
# Crear un nuevo DataFrame solo con las columnas 'concentration'
calidad_aire_concentration = calidad_aire.filter(like='concentration')

# Imprimir el DataFrame
calidad_aire_concentration

,CO.concentration,NO2.concentration,O3.concentration,SO2.concentration,PM2.5.concentration,PM10.concentration
0,293.73,16.79,67.95,5.07,4.29,6.14
1,263.69,8.23,64.37,1.94,5.88,8.52
2,290.39,13.20,67.23,1.27,4.05,10.32
3,270.37,43.53,16.27,6.91,3.11,3.81
4,317.10,11.65,45.42,1.09,10.07,10.96
...,...,...,...,...,...,...
95,236.99,3.56,70.10,1.39,4.76,7.16
96,307.08,11.31,22.53,0.92,4.58,5.94
97,223.64,1.25,77.96,0.15,0.99,1.61
98,257.02,2.31,61.51,0.55,2.99,3.62
99,754.36,79.51,38.98,21.22,28.49,36.95

In [105]:
# Eliminar las filas duplicadas
data_demo_ac = data_demo.drop_duplicates() #data actualizada

In [107]:
# Eliminar las columnas 'Race', 'Count' y 'Number of Veterans'
data_ac = data_demo.drop(columns=['Race', 'Count', 'Number of Veterans'])

In [108]:
data_ac

,City,State,Median Age,Male Population,Female Population,Total Population,Foreign-born,Average Household Size,State Code
0,Denver,Colorado,34.1,341137.0,341408.0,682545,113222.0,2.33,CO
1,Provo,Utah,23.6,56231.0,59027.0,115258,10925.0,3.28,UT
2,Hampton,Virginia,35.5,66214.0,70240.0,136454,6204.0,2.48,VA
3,Birmingham,Alabama,35.6,102122.0,112789.0,214911,8258.0,2.21,AL
4,Greeley,Colorado,31.0,50792.0,50091.0,100883,11480.0,2.75,CO
...,...,...,...,...,...,...,...,...,...
2886,Mesa,Arizona,36.9,234998.0,236835.0,471833,57492.0,2.68,AZ
2887,Corpus Christi,Texas,35.0,160488.0,163594.0,324082,30834.0,2.69,TX
2888,Bismarck,North Dakota,38.0,34675.0,35565.0,70240,2064.0,2.11,ND
2889,Orem,Utah,26.1,48695.0,45762.0,94457,12808.0,3.26,UT
2890,Lowell,Massachusetts,33.4,54422.0,56298.0,110720,33414.0,2.80,MA

In [110]:
# Recordando que decidimos trabajar solo con los primeros 100 datos debido a las apis anteriores, tenemos que = 
data_ac.head(100)

,City,State,Median Age,Male Population,Female Population,Total Population,Foreign-born,Average Household Size,State Code
0,Denver,Colorado,34.1,341137.0,341408.0,682545,113222.0,2.33,CO
1,Provo,Utah,23.6,56231.0,59027.0,115258,10925.0,3.28,UT
2,Hampton,Virginia,35.5,66214.0,70240.0,136454,6204.0,2.48,VA
3,Birmingham,Alabama,35.6,102122.0,112789.0,214911,8258.0,2.21,AL
4,Greeley,Colorado,31.0,50792.0,50091.0,100883,11480.0,2.75,CO
...,...,...,...,...,...,...,...,...,...
95,Huntsville,Alabama,38.1,91764.0,97350.0,189114,12691.0,2.18,AL
96,Turlock,California,36.2,33190.0,39103.0,72293,14686.0,2.76,CA
97,Gainesville,Florida,26.0,60803.0,69330.0,130133,15272.0,2.33,FL
98,Champaign,Illinois,28.7,43326.0,42760.0,86086,12261.0,2.25,IL
99,Inglewood,California,34.9,52995.0,58661.0,111656,34171.0,3.12,CA

In [112]:
calidad_aire_concentration

,CO.concentration,NO2.concentration,O3.concentration,SO2.concentration,PM2.5.concentration,PM10.concentration
0,293.73,16.79,67.95,5.07,4.29,6.14
1,263.69,8.23,64.37,1.94,5.88,8.52
2,290.39,13.20,67.23,1.27,4.05,10.32
3,270.37,43.53,16.27,6.91,3.11,3.81
4,317.10,11.65,45.42,1.09,10.07,10.96
...,...,...,...,...,...,...
95,236.99,3.56,70.10,1.39,4.76,7.16
96,307.08,11.31,22.53,0.92,4.58,5.94
97,223.64,1.25,77.96,0.15,0.99,1.61
98,257.02,2.31,61.51,0.55,2.99,3.62
99,754.36,79.51,38.98,21.22,28.49,36.95

In [114]:
#Relacionando las dos bases de datos entre si, tenemos que = 
datos_completos_relacionados = pd.concat([data_ac.head(100), calidad_aire_concentration], axis=1)
datos_completos_relacionados

,City,State,Median Age,Male Population,Female Population,Total Population,Foreign-born,Average Household Size,State Code,CO.concentration,NO2.concentration,O3.concentration,SO2.concentration,PM2.5.concentration,PM10.concentration
0,Denver,Colorado,34.1,341137.0,341408.0,682545,113222.0,2.33,CO,293.73,16.79,67.95,5.07,4.29,6.14
1,Provo,Utah,23.6,56231.0,59027.0,115258,10925.0,3.28,UT,263.69,8.23,64.37,1.94,5.88,8.52
2,Hampton,Virginia,35.5,66214.0,70240.0,136454,6204.0,2.48,VA,290.39,13.20,67.23,1.27,4.05,10.32
3,Birmingham,Alabama,35.6,102122.0,112789.0,214911,8258.0,2.21,AL,270.37,43.53,16.27,6.91,3.11,3.81
4,Greeley,Colorado,31.0,50792.0,50091.0,100883,11480.0,2.75,CO,317.10,11.65,45.42,1.09,10.07,10.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Huntsville,Alabama,38.1,91764.0,97350.0,189114,12691.0,2.18,AL,236.99,3.56,70.10,1.39,4.76,7.16
96,Turlock,California,36.2,33190.0,39103.0,72293,14686.0,2.76,CA,307.08,11.31,22.53,0.92,4.58,5.94
97,Gainesville,Florida,26.0,60803.0,69330.0,130133,15272.0,2.33,FL,223.64,1.25,77.96,0.15,0.99,1.61
98,Champaign,Illinois,28.7,43326.0,42760.0,86086,12261.0,2.25,IL,257.02,2.31,61.51,0.55,2.99,3.62
99,Inglewood,California,34.9,52995.0,58661.0,111656,34171.0,3.12,CA,754.36,79.51,38.98,21.22,28.49,36.95

# Para cumplir con la peticion del ejercicio.
```python
# Importar las bibliotecas necesarias
import sqlite3
import pandas as pd

# Crear una conexión a la base de datos SQLite
conn = sqlite3.connect('mi_base_de_datos.db')

# Cargar las dos tablas procesadas en la base de datos
df.to_sql('tabla1', conn, if_exists='replace', index=False)
data_demo.to_sql('tabla2', conn, if_exists='replace', index=False)

# Crear una consulta SQL para aplicar joins y agregaciones
sql = """
SELECT *
FROM tabla1
JOIN tabla2 ON tabla1.ciudad = tabla2.ciudad
GROUP BY tabla1.ciudad
ORDER BY tabla2.poblacion DESC
LIMIT 10
"""

# Ejecutar la consulta SQL y guardar el resultado en un DataFrame
resultado = pd.read_sql_query(sql, conn)

# Mostrar las primeras 10 filas del resultado
print(resultado.head(10))
```
#### Los pytest se hicieron en local