# Proyecto Integrador Procesamiento de Datos. 

Proyecto Realizado por Jose Leonardo Piñeres Ramirez estudiante de ciencias de datos y machine learning.

# Parte 1: Introducción al análisis de datos
El proyecto de este curso consiste en analizar el conjunto de datos introducido en esta sección, procesarlo, limpiarlo y finalmente ajustar modelos de machine learning para realizar predicciones sobre estos datos.

Para el desarrollo de esta etapa del proyecto necesitamos intalar la librería datasets de Huggingface

pip install datasets
Vamos a trabajar con un dataset sobre fallo cardíaco

El dataset contiene registros médicos de 299 pacientes que padecieron insuficiencia cardíaca durante un período de seguimiento.

Las 13 características clínicas incluidas en el conjunto de datos son:

- Edad: edad del paciente (años)
- Anemia: disminución de glóbulos rojos o hemoglobina (booleano)
- Presión arterial alta: si el paciente tiene hipertensión (booleano)
- Creatinina fosfoquinasa (CPK): nivel de la enzima CPK en la sangre (mcg/L)
- Diabetes: si el paciente tiene diabetes (booleano)
- Fracción de eyección: porcentaje de sangre que sale del corazón en cada contracción (porcentaje)
- Plaquetas: plaquetas en la sangre (kiloplaquetas/mL)
- Sexo: mujer u hombre (binario)
- Creatinina sérica: nivel de creatinina sérica en la sangre (mg/dL)
- Sodio sérico: nivel de sodio sérico en la sangre (mEq/L)
- Fumar: si el paciente fuma o no (booleano)
- Tiempo: período de seguimiento (días)
- [Objetivo] Evento de fallecimiento: si el paciente falleció durante el período de seguimiento (booleano)

In [1]:
pip install datasets

Requirement already satisfied: datasets in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (2.14.6)
Requirement already satisfied: numpy>=1.17 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from datasets) (1.23.5)
Requirement already satisfied: pyarrow>=8.0.0 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from datasets) (14.0.0)
Requirement already satisfied: dill<0.3.8,>=0.3.0 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from datasets) (0.3.7)
Requirement already satisfied: pandas in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from datasets) (1.5.3)
Requirement already satisfied: requests>=2.19.0 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from datasets) (2.28.1)
Requirement already satisfied: tqdm>=4.62.1 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from datasets) (4.64.1)
Requirement already satisfied: xxhash in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from datasets) (3.4.1)
Requirement already satisfied: multiprocess in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from datasets) (0.70.15)
Requirement already satisfied: fsspec<=2023.10.0,>=2023.1.0 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from fsspec[http]<=2023.10.0,>=2023.1.0->datasets) (2023.10.0)
Requirement already satisfied: aiohttp in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from datasets) (3.8.6)
Requirement already satisfied: huggingface-hub<1.0.0,>=0.14.0 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from datasets) (0.18.0)
Requirement already satisfied: packaging in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from datasets) (23.2)
Requirement already satisfied: pyyaml>=5.1 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from datasets) (6.0)
Requirement already satisfied: attrs>=17.3.0 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from aiohttp->datasets) (22.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from aiohttp->datasets) (2.0.4)
Requirement already satisfied: multidict<7.0,>=4.5 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from aiohttp->datasets) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from aiohttp->datasets) (4.0.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from aiohttp->datasets) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from aiohttp->datasets) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from aiohttp->datasets) (1.3.1)
Requirement already satisfied: filelock in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from huggingface-hub<1.0.0,>=0.14.0->datasets) (3.9.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from huggingface-hub<1.0.0,>=0.14.0->datasets) (4.7.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from requests>=2.19.0->datasets) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from requests>=2.19.0->datasets) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from requests>=2.19.0->datasets) (2023.5.7)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from pandas->datasets) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from pandas->datasets) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/leonardopineres/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->datasets) (1.16.0)
WARNING: There was an error checking the latest version of pip.
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [3]:
from datasets import load_dataset


dataset = load_dataset("mstz/heart_failure")

In [4]:
dataset

DatasetDict({
    train: Dataset({
        features: ['age', 'has_anaemia', 'creatinine_phosphokinase_concentration_in_blood', 'has_diabetes', 'heart_ejection_fraction', 'has_high_blood_pressure', 'platelets_concentration_in_blood', 'serum_creatinine_concentration_in_blood', 'serum_sodium_concentration_in_blood', 'is_male', 'is_smoker', 'days_in_study', 'is_dead'],
        num_rows: 299
    })
})

In [5]:
data = dataset["train"]
data

Dataset({
    features: ['age', 'has_anaemia', 'creatinine_phosphokinase_concentration_in_blood', 'has_diabetes', 'heart_ejection_fraction', 'has_high_blood_pressure', 'platelets_concentration_in_blood', 'serum_creatinine_concentration_in_blood', 'serum_sodium_concentration_in_blood', 'is_male', 'is_smoker', 'days_in_study', 'is_dead'],
    num_rows: 299
})

In [6]:
edades = np.array(data['age'])
edades

array([75, 55, 65, 50, 65, 90, 75, 60, 65, 80, 75, 62, 45, 50, 49, 82, 87,
       45, 70, 48, 65, 65, 68, 53, 75, 80, 95, 70, 58, 82, 94, 85, 50, 50,
       65, 69, 90, 82, 60, 60, 70, 50, 70, 72, 60, 50, 51, 60, 80, 57, 68,
       53, 60, 70, 60, 95, 70, 60, 49, 72, 45, 50, 55, 45, 45, 60, 42, 72,
       70, 65, 41, 58, 85, 65, 69, 60, 70, 42, 75, 55, 70, 67, 60, 79, 59,
       51, 55, 65, 44, 57, 70, 60, 42, 60, 58, 58, 63, 70, 60, 63, 65, 75,
       80, 42, 60, 72, 55, 45, 63, 45, 85, 55, 50, 70, 60, 58, 60, 85, 65,
       86, 60, 66, 60, 60, 60, 43, 46, 58, 61, 53, 53, 60, 46, 63, 81, 75,
       65, 68, 62, 50, 80, 46, 50, 61, 72, 50, 52, 64, 75, 60, 72, 62, 50,
       50, 65, 60, 52, 50, 85, 59, 66, 45, 63, 50, 45, 80, 53, 59, 65, 70,
       51, 52, 70, 50, 65, 60, 69, 49, 63, 55, 40, 59, 65, 75, 58, 60, 50,
       60, 60, 40, 80, 64, 50, 73, 45, 77, 45, 65, 50, 60, 63, 45, 70, 60,
       78, 50, 40, 85, 60, 49, 70, 50, 78, 48, 65, 73, 70, 54, 68, 55, 73,
       65, 42, 47, 58, 75, 58, 55, 65, 72, 60, 70, 40, 53, 53, 77, 75, 70,
       65, 55, 70, 65, 40, 73, 54, 61, 55, 64, 40, 53, 50, 55, 50, 70, 53,
       52, 65, 58, 45, 53, 55, 62, 65, 68, 61, 50, 55, 56, 45, 40, 44, 51,
       67, 42, 60, 45, 70, 70, 50, 55, 70, 70, 42, 65, 50, 55, 60, 45, 65,
       90, 45, 60, 52, 63, 62, 55, 45, 45, 50])

In [7]:
promedio_edades = np.mean(edades)
promedio_edades

60.82943143812709

# Parte 2: Carga de datos
Continuando con la anterior sección del proyecto integrador, ahora debes realizar lo siguiente:

- Convertir la estructura Dataset en un DataFrame de Pandas usando pd.DataFrame.
- Separar el dataframe en dos diferentes, uno conteniendo las filas con personas que perecieron (is_dead=1) y otro con el complemento.
- Calcular los promedios de las edades de cada dataset e imprimir.

In [13]:
# Paso 1: Convertir la estructura Dataset en un DataFrame de Pandas
df = pd.DataFrame(data)
df

,age,has_anaemia,creatinine_phosphokinase_concentration_in_blood,has_diabetes,heart_ejection_fraction,has_high_blood_pressure,platelets_concentration_in_blood,serum_creatinine_concentration_in_blood,serum_sodium_concentration_in_blood,is_male,is_smoker,days_in_study,is_dead
0,75,False,582.0,False,20.0,True,265000.00,1.9,130.0,True,False,4,1
1,55,False,7861.0,False,38.0,False,263358.03,1.1,136.0,True,False,6,1
2,65,False,146.0,False,20.0,False,162000.00,1.3,129.0,True,True,7,1
3,50,True,111.0,False,20.0,False,210000.00,1.9,137.0,True,False,7,1
4,65,True,160.0,True,20.0,False,327000.00,2.7,116.0,False,False,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62,False,61.0,True,38.0,True,155000.00,1.1,143.0,True,True,270,0
295,55,False,1820.0,False,38.0,False,270000.00,1.2,139.0,False,False,271,0
296,45,False,2060.0,True,60.0,False,742000.00,0.8,138.0,False,False,278,0
297,45,False,2413.0,False,38.0,False,140000.00,1.4,140.0,True,True,280,0
298,50,False,196.0,False,45.0,False,395000.00,1.6,136.0,True,True,285,0

In [15]:
# Paso 2: Separar el DataFrame en dos (perecieron y el complemento)
df_perecieron = df[df['is_dead'] == 1]
df_no_perecieron = df[df['is_dead'] == 0]

In [16]:
# Paso 3: Calcular los promedios de las edades de cada dataset
promedio_edad_perecieron = np.mean(df_perecieron['age'])
promedio_edad_no_perecieron = np.mean(df_no_perecieron['age'])

In [35]:
# Paso 4: Imprimir los resultados
print('Promedio de edad de personas que murieron:')
promedio_edad_perecieron

Promedio de edad de personas que murieron:

65.20833333333333

In [37]:
print('Promedio de edad de personas que no murieron:')
promedio_edad_no_perecieron

Promedio de edad de personas que no murieron:

58.758620689655174

# Parte 3: Calculando analíticas simples
Continuando con el DataFrame con todos los datos de la anterior subsección, ahora debes:

- Verificar que los tipos de datos son correctos en cada colúmna (por ejemplo que no existan colúmnas numéricas en formato de cadena).
- Calcular la cantidad de hombres fumadores vs mujeres fumadoras (usando agregaciones en Pandas).

In [46]:
# Asegurémonos de que los tipos de datos son los correctos
df.dtypes

age                                                  int64
has_anaemia                                           bool
creatinine_phosphokinase_concentration_in_blood    float64
has_diabetes                                          bool
heart_ejection_fraction                            float64
has_high_blood_pressure                               bool
platelets_concentration_in_blood                   float64
serum_creatinine_concentration_in_blood            float64
serum_sodium_concentration_in_blood                float64
is_male                                               bool
is_smoker                                             bool
days_in_study                                        int64
is_dead                                              int64
dtype: object

In [44]:
# O tambien se utiliza
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   age                                              299 non-null    int64
 1   has_anaemia                                      299 non-null    bool
 2   creatinine_phosphokinase_concentration_in_blood  299 non-null    float64
 3   has_diabetes                                     299 non-null    bool
 4   heart_ejection_fraction                          299 non-null    float64
 5   has_high_blood_pressure                          299 non-null    bool
 6   platelets_concentration_in_blood                 299 non-null    float64
 7   serum_creatinine_concentration_in_blood          299 non-null    float64
 8   serum_sodium_concentration_in_blood              299 non-null    float64
 9   is_male                                          299 non-null    bool
 10  is_smoker                                        299 non-null    bool
 11  days_in_study                                    299 non-null    int64
 12  is_dead                                          299 non-null    int64
dtypes: bool(5), float64(5), int64(3)
memory usage: 20.3 KB

In [42]:
#Esta utilima me gusta mas porque se puede ver mucho mejor los datos y conocer la integridad de los mismo

In [48]:
# Filtrar el DataFrame para obtener solo los datos de fumadores
df_fumadores = df[df['is_smoker'] == 1]

# Usar agregaciones en Pandas para contar la cantidad de hombres y mujeres fumadoras
cantidad_hombres_fumadores = df_fumadores[df_fumadores['is_male'] == 1].shape[0]
cantidad_mujeres_fumadoras = df_fumadores[df_fumadores['is_male'] == 0].shape[0]

In [49]:
# Imprimir los resultados
print(f"Cantidad de hombres fumadores: {cantidad_hombres_fumadores}")
print(f"Cantidad de mujeres fumadoras: {cantidad_mujeres_fumadoras}")

Cantidad de hombres fumadores: 92
Cantidad de mujeres fumadoras: 4